@import "scss/00-setup/theme";
@import "scss/01-generic/resets";
@import "scss/01-generic/generic";
@import "scss/03-utilities/grid";
@import "scss/03-utilities/utilities";


.z-index {
  z-index: 3;
}

.features:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.headline::before  {
    content: "";
    position: absolute;
    bottom: 0;
    background: #333;
    width: 100px;
    height: 6px;
}


.feature {
  min-height: 17rem;
}


.bg-overlay:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
}

.features {
  background-image: url("../../assets/images/feature.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.underline {
  overflow: hidden;
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    left: -100%;
    bottom: 0;
    height: 2px;
    transition: 0.5s ease;
  }
}




  .link-wrapper:hover{
    .underline:after {
      left: 0;
    }
  }


.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 5rem;
  background: transparent;
}


.header-active {
  background: white;
  top: 0;
  color: black;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease;
}


.header-active {
  .underline {
    color: black;
  }
  &.underline {
    overflow: hidden;
    display: inline-block;
    position: relative;
  }
    .underline:after {
      content: '';
      position: absolute;
      width: 100%;
      background: black;
      left: -100%;
      bottom: 0;
      height: 2px;
      transition: 0.5s ease;
    }
   &.link-wrapper:hover{
    .underline:after {
      left: 0;
    }
  }
}

