@import "scss/00-setup/theme";
@import "scss/01-generic/resets";
@import "scss/01-generic/generic";
@import "scss/02-components/gallery";
@import "scss/02-components/header";
@import "scss/03-utilities/grid";
@import "scss/03-utilities/utilities";





/* Custom styles
 *============================================================================*/

.z-index {
  z-index: 10;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.heading {
  font-size: 120px;
}
.visible {
  height: auto;
  overflow: hidden;
}

.italic-text {
  font-style: italic;
  font-size: 15px;
  color: #6d6d6d;
}

.expand {
  overflow: hidden;
  height: 0;
}

.bla {
  position: fixed;
  right: 0;
  bottom: 24.8rem;
  left: 0;
}

.headline {
  font-size: 70px;
  font-weight: 700;
  @media screen and (max-width: 900px) {
    font-size: 30px;
  }
}

.carousel {
  z-index: 2;
}



/* Parallax,features,price
 *============================================================================*/
.features:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.headline::before  {
    content: "";
    position: absolute;
    bottom: 0;
    background: #333;
    width: 100px;
    height: 6px;
}


.feature {
  font-size: 15px;
  font-family: Georgia, sans-serif;
  font-style: italic;
  min-height: 17rem;
  color: #6d6d6d;
  @media screen and (max-width: 900px) {
    height: 300px;
  }
}

.bg-overlay:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.features {
  background-image: url("../../assets/images/feature.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}





/* Mobile
 *============================================================================*/

@media screen and (max-width: 600px) {
  .image {
    width: 100%;
  }

}
@media screen and (max-width: 1000px) {
  .circle-container {
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
    .bg-2, .bg-1, .interior-1, .interior-2 {
      margin-top:  25px!important;
      margin-left: 25px!important;
    }
    .form-container {
      .col-5 {
        padding: 10px;
      }
    }
    .header-active {
      background: none;
      box-shadow: none;
    }
    p {
      font-size: 14px;
    }
    h1 {
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }
    .heading {
      font-size: 40px;
    }
    h2 {
      font-size: 26px;
    }
    .mobile-menu {
      justify-content: flex-start;
    }
    .book {
      height: calc(100vh - 40px)
    }
  }





/* Flatpicker
 *============================================================================*/

.flatpickr-prev-month:hover svg,
.flatpickr-next-month:hover svg {
  fill: rgba(0,0,0,0.9)!important;
}
.flatpickr-current-month .flatpickr-monthDropdown-months:hover {
  background: transparent!important;
}

