@import "scss/00-setup/theme";
@import "scss/01-generic/resets";
@import "scss/01-generic/generic";
@import "scss/03-utilities/grid";
@import "scss/03-utilities/utilities";






/* Custom styles
 *============================================================================*/

.z-index {
  z-index: 3;
}

.btn {
  outline: none;
  border: none;
  padding: 10px;
  font-size: 20px;
}





/* Parallax,features,price
 *============================================================================*/
.features:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.headline::before  {
    content: "";
    position: absolute;
    bottom: 0;
    background: #333;
    width: 100px;
    height: 6px;
}


.feature {
  min-height: 17rem;
  @media screen and (max-width: 900px) {
    height: 300px;
  }
}

.bg-overlay:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #002;
  opacity: .8;
  position: absolute;
}

.features {
  background-image: url("../../assets/images/feature.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}





/* Header styles
 *============================================================================*/
.underline {
  overflow: hidden;
  display: inline-block;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    background: white;
    left: -100%;
    bottom: 0;
    height: 2px;
    transition: 0.5s ease;
  }
}

  .link-wrapper:hover{
    .underline:after {
      left: 0;
    }
  }

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 5rem;
  background: transparent;
}

.header-active {
  background: white;
  top: 0;
  color: black;
  width: 100%;
  position: fixed;
  transition: all 0.5s ease;
}

.header-active {
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  .underline {
    color: black;
  }
  &.underline {
    overflow: hidden;
    display: inline-block;
    position: relative;
  }
    .underline:after {
      content: '';
      position: absolute;
      width: 100%;
      background: black;
      left: -100%;
      bottom: 0;
      height: 2px;
      transition: 0.5s ease;
    }
   &.link-wrapper:hover{
    .underline:after {
      left: 0;
    }
  }
}





/* Slider styles
 *============================================================================*/

.left {
  position:absolute;
  top: 47%;
  left: -40px;
  cursor:pointer;
  @media screen and (max-width: 900px) {
    left: 0;
  }
}
.right {
  cursor:pointer;
  position:absolute;
  top: 47%;
  right: -40px;
  @media screen and (max-width: 900px) {
    right: 0;
  }
}




/* Hamburger menu for mobile
 *============================================================================*/
.hamburger {
  z-index: 12;
  position: fixed;
  top: 15px;
  left: 25px;
  width: 40px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hamburger .line:nth-child(1) {
  top: 3px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger .line:nth-child(2) {
  top: 3px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger .line:nth-child(3) {
  top: 23px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hamburger.open .line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background: black;
  top:  6px;
  left: 5px;
}

.hamburger.open .line:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: black;
  top: 33px;
  left: 5px;
}

.line {
  position: absolute;
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.mobile-menu {
  opacity: 0;
  visibility: hidden;
  display: flex;
  z-index: 11;
  position: fixed;
  top: 0;
  width: 300px;
  background: white;
  transition: .4s;
  transform: translateX(-300px);
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  .underline {
    color: #c7b38e;
  }
  &.active-mobile {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

.line-active {
  display: block;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
}




/* Mobile
 *============================================================================*/

@media screen and (max-width: 600px) {
  .image {
    width: 100%;
  }

}

  @media screen and (max-width: 900px) {
    .circle-container {
      justify-content: center;
    }
    .bg-2, .interior-2 {
      margin-top: 25px;
      margin-left: 0;
    }
    .price-card {
      .h5 {
        font-size: 20px;
      }
      p {
        font-size: 14px;
      }
    }
    .date {
      padding-bottom: 35px;
    }
    .form-container {
      .col-5 {
        padding: 10px;
      }
    }
    .header-active {
      background: none;
      box-shadow: none;
    }
  }


